video {
  position: absolute;
    /* right: 0; */
    z-index: -9999999;
    /* bottom: 0; */
    width: 100%;
    top: -70px;
    /* min-width: 100%; */
    /* min-height: 100%;  */
    /*灰色调*/
    /*-webkit-filter:grayscale(100%)*/
  }
  .video-container{
    width: 1080px;
    margin: 0 auto;
    z-index: -99999;
  }
  .wrap{
    height: calc(100vh);
    width: auto;
    background-image: url("../../img/grid.png");
  } 
  .content-logo{
    position: relative;
    top: calc(20vh);
    left: calc(16vw)
  }
  .header-info {
    width: 60%;
    margin: auto;
    font-size: 16px;
    color: #eaeadf;
    background: rgba(0,0,0,.5);
    padding: 15px;
    margin-top: calc(18vh);
    letter-spacing: 0;
    line-height: 35px;
    border-radius: 10px;
    box-sizing: initial;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
  }
.glitch+.header-info:before {
  top: 112px;
  content: "";
}
.header-info:before {
  position: absolute;
  /* left: 20%; */
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,.5) transparent;
}
.header-info p {
  margin: 0;
  font-family: Ubuntu,sans-serif;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
}
.top-social_v2 {
  height: 32px;
  margin-bottom: -15px;
  margin-left: 50px;
  list-style: none;
  display: inline-block;
}
.top-social_v2 li {
  float: left;
  margin-right: 13px;
}
:after, :before {
  box-sizing: inherit;
}
.top-social_v2 img {
  height: 35px;
  width: 35px;
  padding: 6px;
  background: 0 0;
}
.wechat {
  width: 35px;
  height: 35px;
  position: relative;
}
.wechat:hover .wechatInner {
  transition: 1s;
  -webkit-transform: translate3d(0,16px,0);
  transform: translate3d(0,16px,0);
  opacity: 1;
  visibility: visible;
  border-radius: 8px;
}
.wechatInner {
  width: 121px;
  height: 121px;
  padding: 10px;
  background: rgba(0,0,0,.4);
  /* top: 40px;
  left: -40px; */
  -webkit-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
  opacity: 0;
  position: relative;
  left: -50px;
  top: 0;
}
.wechatInner:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,.4) transparent;
}
.wechatInner img {
  border-radius: 0;
  width: 121px;
  height: auto;
  padding: 0;
  background: 0 0;
}
.flipx {
  transform: scaleX(-1);
  filter: FlipH;
}
  .content-back {
    background: url("https://singleblog.oss-cn-beijing.aliyuncs.com/images/index-content.jpg");
  }
  /* 公共区域 */
  .introduce {
    font-size: 34px;
    font-weight: 100;
    line-height: 34px;
    margin: 12px 0 !important;
    padding: 5px 0 5px 10px;
  }  

  .el-main{
    padding: 0!important;
  }
  .back-continer{
    background-color: #f9f9f9;
    padding: 20px;
  }
  .left {
    float: left;
  }
  .clear::after {
    content: "";
    display: block;
    clear: both;
  }
  .center {
    text-align: center;
  }
  .w3 {
    width: 33.33%;
  }
  .w10 {
    width: 100%;
  }
  /* 关于我-更多 */
  .about-me {
    text-align: center !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .about-me > h3 {
    color: #333;
    font-size: 2.5em;
    font-weight: 600;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
  }
  .about-me > p {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #777;
    line-height: 1.9em;
    letter-spacing: 1px;
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
  }
  .about-me > a {
    cursor: pointer;
    color: #fff;
    background-color: #1e9fff;
    border-color: #007bff;
    display: inline-block;
    padding: 10px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 12px 60px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  /* 文章列表 */
  .articles-content{
    margin: 0 auto;
    text-align: center;
  }
  .articles-content:after {
    padding: 20px 0;
    content: "";
    display: table;
    clear: both;
  }
  article {
    max-width: 320px;
    max-height: 420px; 
    display: block;
    background: #f6f6f6;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 10px 10px;  
  }
  article:hover{   
    box-shadow: inset 0.125em -0.125em 0.3em rgba(68, 68, 68, 0.4), inset -0.3em 0 0.0625em -0.25em rgba(34, 34, 34, 0.5), inset 0.4em 0.5em 0.5em -0.25em rgba(255, 255, 255, 0.6), 0.04em 0.25em 0 -0.3em #333;
    border-radius: 6px;
    transition: 1s;
  }
  article a {
    display: flex;
    flex-direction: column;
    color: #535353;
    text-decoration: none;
  }
  article:hover {
    transition: 0.5s;
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    z-index: 99;
    position: relative;
    left: 0;
  }
  article >a {    
    align-items: center;
  }
  article > a:hover::after {
    height: 10px;
  }
  article > a::after {
    content: "";
    width: 100%;
    position: absolute;
    background: #67c23a;
    bottom: 0;
    height: 0;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  article .imgBox {
    max-width: 100%;
    overflow: hidden;
  }
  article .imgBox .mini-img {
    max-width: 100%;
    height: 185px;
    max-height: 100%;
    transition: all 0.6s linear;
  }
  article:hover .mini-img {
    transform: scale(1.15);
  }
  article:hover .source {
    background: #1ccfc9;
    border-color: #1ccfc9;
    color: #000;
  }
  article .source {
    border: 1px solid #535353;
    padding: 6px 20px;
    border-radius: 25px;
    margin: 20px;
  }
  article .title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  }
  article .detail {
    font-size: 14px;
    line-height: 160%;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
  }
  /* 背景图片区域 */
  .content-back > h2 {
    position: absolute;
    width: 800px;
    height: 300px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 16px;
    color: #777;
    line-height: 1.9em;
    letter-spacing: 1px;
  }
  /* 留言列表 */
  .message-list {
    height: 300px;
  }
  .ols-card {
    width: 100%;
    height: 230px;
    border-top: #1e9fff solid 1px;
    box-shadow: 0 0 2px 2px rgba(204, 204, 223, 0.5);
    background: transparent;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  .ols-header,
  .ols-body {
    float: left;
    margin: 0 15px;
    width: 100%;
  }
  .ols-header {
    margin: 30px 0;
    margin-left: 20px;
  }
  .ols-desc-img {
    border-radius: 50%;
    width: 65px !important;
    height: 65px;
    float: left;
  }
  .ols-desc-name {
    float: left;
    padding-top: 14px;
    padding-left: 20px;
    font-size: 16px;
    color: #444;
    font-weight: 300;
  }
  .ols-body {
    width: 250px;
    height: 100px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .ols-body p {
    text-indent: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
  }
  /* 数字转动css */
  .product-number-info {
    position: relative;
  }
  .product-number-inner {
    width: 1200px;
    margin: 0 auto;
  }
  .product-number-info ul.q::after {
    content: "";
    clear: both;
    display: table;
  }
  .product-number-info ul {
    padding: 125px 0;
  }
  .product-number-info ul li{
    list-style: none;
  }
  .product-number-info li:first-child {
    border: none;
  }
  .product-number-info li {
    float: left;
    width: 239px;
    height: 80px;
    border-left: 1px solid #3c3c3c;
    color: #fff;
    padding-top: 1px;
  }
  .product-number-info li {
    color: #fff;
  }
  .product-number-info li b {
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    display: inline-block;
    position: relative;
    margin: 15px 0 10px;
  }
  .product-number-info li p {
    font-size: 24px;
    color: #F9F9F9;
    line-height: 1;
    display: inline-block;
    position: relative;
    margin: 15px 0 10px;
  }
  .product-number-info li:not(:first-child) b,
  .product-number-info li p {
    padding-left: 70px;
  }
  .product-number-info li b sup {
    position: absolute;
    font-size: 20px;
    right: -15px;
    top: -3px;
  }
  /* 响应式样式 */
  /* .content-middle {
    width: 1020px;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: touch;
    background-color: #F9F9F9
  } */
  
  .middle-container{ 
    width: 1020px; 
    margin: 0 auto;
  }
  @media only screen and (max-width: 475px) {
    #v1 {
      display: none;
    }
    article {
      max-width: 475px;
      max-height: 420px; 
      display: block;
      background: #f6f6f6;
      box-sizing: border-box;
      padding: 10px 10px;
      margin: 10px 10px;  
    }
    .wrapper {
      background: url("https://singleblog.oss-cn-beijing.aliyuncs.com/images/bg_index.jpg")
        no-repeat fixed center !important;
      background-position: 50% 50% !important;
      background-size: 100% 100% !important;
      background-attachment: fixed !important;
    }
    .wrap{
      width: 100%;
    }
    .video-container{
      width: 100%;
    }
    .middle-container {
      width: 100%;
      margin: 0 auto;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: touch;
      background-color: #F9F9F9
    }
    .el-main{
      overflow: hidden;
    }
    .swiper-slide{
      width: 100% !important;
      padding: 0;
      margin: 0;
    }
    /* 数字增长 */
    .content-back{
      width: 100%;
      min-height: 280px;
      background-repeat: round;
      background-image: url("https://zswblog.oss-cn-hangzhou.aliyuncs.com/attachment/77C4EC284EA6B50E788989F020F4BA7F.jpg");
    }
    .product-number-info{
      display: flex;
    }
    .product-number-info ul{
      padding: 0;
    }
    .product-number-info ul li{
      padding-top: 10px;
      padding-bottom: 10px;
      max-height: 30px;
      width: 100%;
      text-align: center;
      /* border-bottom: yellowgreen solid 0.5px; */
    }
    .product-number-info li b {
      font-size: 16px;
      line-height: 1;
      display: inline-block;
      position: relative;
    }
    .product-number-info ul li i{
      font-size: 20px;
      font-style: unset;
      float: left;
    }
    .product-number-info li:first-child b{
      padding-left: 10px;
    }
    .product-number-info li:not(:first-child) b, .product-number-info li p {
      padding-left: 10px;
    }
    .product-number-info ul li p{
      text-align: center;
      width: 30%;
      float: left;
      font-size: 18px; 
      margin-left: 30px;     
    }
  }